@charset "UTF-8";


.mogumogu{
  width: 1000px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

#menutimer{
  color: #272727;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  top: 450px;
  left: 50px;
}

#digtimer{
  color: #ebfffe;
  font-size: 100px;
  font-weight: 900;
}

.line{
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
