@charset "UTF-8";

.mogumogu{
  cursor: pointer;
  text-align: center;
}

#menutimer{
  color: #272727;
  font-size: 50px;
  font-weight: 900;
}

#digtimer{
  color: #ebfffe;
  font-size: 100px;
  font-weight: 900;
}

.line{
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
