a img{
  border: none;
}

.image{
	text-align: center;
}

.sp{
  padding: 0 0 300px 0;
}

.line{
  height: 250px;
  display: flex;
  flex-direction: row;
}

.centerh{
  font-size: 300%;
  text-align: center;
}

#chuu{
  font-size: 50%;
  text-align: center;
}

.text{
  margin: 0;
  padding: 0;
  overflow: visible;
  text-transform: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: "YakuHanJP", "Sans", sans-serif;
  font-weight: 400;
  color: #444;
  font-size: 32px;
  text-align: left;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.5;
}
