#loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#loading p{
	display: block;
}

.contents {
	font-size: 250%;
	white-space: nowrap;
}

#result {
	font-size: 250%;
	white-space: nowrap;
}

#num {
	font-size: 500%;
	font-weight: 900;
}
