#loading {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
  }
  #loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hidden {
    display: none;
  }