<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>穴掘れ!モグちゃん!!</title>
  <link rel="icon" href="data:;base64,iVBORwOKGO=" />
  <link rel="stylesheet" href="../static/user-waiting.css?update=152">
</head>
<body>
  <div id="menu">
    <div class="sp"></div>

    <div class="image">
      <img src="../static/img/logo.png" width=500 alt="logo">
      <a href="/user" class="btn"><img src="../static/img/dig-start.png" width=800 alt="dig-start" id="img"></a>
    </div>

    <div class="sp"></div>

    <div id="setumei">
      <div class="text">
        <h1 class="centerh">展示物の説明</h1>
      </div>
      <div class="text">
        <h1 class="H">モグちゃん</h1>
      </div>
      <div class="image">
        <img src="../static/img/sutegoro-250-250-30.gif" alt="sutegoro">
        <img src="../static/img/pickel-250-250-30.gif" alt="pickel">
        <img src="../static/img/drill-250-250-30.gif" alt="drill">
      </div>
      <div class="text">
        <p>モグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグモグ</p>
      </div>

      <div class="text">
        <h1 class="H">宝石</h1>
      </div>
      <div class="image">
        <img src="../static/img/treasure-250-250-30.gif" alt="sutegoro">
      </div>
      <div class="text">
        <p>おたからおたからおたからおたからおたからおたからおたからおたからおたからおたからおたからおたからおたからおたからおたからおたから</p>
      </div>

      <div class="text">
        <h1 class="centerh">中身の説明</h1>
      </div>
      <div class="text">
        <h1 class="H">穴掘りのルール</h1>
      </div>
      <div class="image">
        <img src="../static/img/treasure-250-250-30.gif" alt="sutegoro">
      </div>
      <div class="text">
        <p>問題が出されて解いてるんだよおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお</p>
      </div>

      <div class="text">
        <h1 class="H">速くする方法</h1>
      </div>
      <div class="image">
        <img src="../static/img/treasure-250-250-30.gif" alt="sutegoro">
      </div>
      <div class="text">
        <p>だからみんなでアクセスしよよおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお</p>
      </div>

      <div class="text">
        <h1 class="H">分散処理</h1>
        <p>こういう感じに処理を速くする技術を分散処理といって、色んなことに使われてるおおおおおおおおおおおおおおおおおおおおおおおおお</p>
      </div>

      <div class="text">
        <h1 class="centerh">リンク</h1>
      </div>
    </div>
  </div>

</body>
</html>
