<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>穴掘れ!モグちゃん!!</title>
  <link rel="icon" href="data:;base64,iVBORwOKGO=" />
  <link rel="stylesheet" href="../static/user-waiting.css?update=152">
</head>
<body>
  <div class="menu">
    <div class="sp"></div>

    <div class="image">
      <img src="../static/img/logo.png" width=500 alt="logo"><br>
      <a href="/user" class="btn"><img src="../static/img/dig-start.png" width=800 alt="dig-start" id="img"></a>
    </div>

    <div class="sp"></div>

    <div id="setumei">
      <div class="text">
        <a  href="https://cdlab-sit.github.io/BBDC/templates/description.html" target="_blank"><h1 class="centerh">展示物の説明</h1></a>
      </div>
    </div>
  </div>

</body>
</html>
