<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>test HTML</title>
  <link rel="icon" href="data:;base64,iVBORwOKGO=" />
  <link rel="stylesheet" href="../static/user.css?update=152">
</head>
<body>
  <div id="loading">
    <img src="../static/img/moguchan-udekumi.png" width=500 alt="loading" id="img">
      <p id="contents">穴掘り中...<br><br>以下の数字を素数解析しています</p>
    <div id="num">0</div>
  </div>
  

  
  <script type="text/javascript" src="../static/user.js?update=152"></script>
</body>
</html>

